.data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 120px;
    gap:10px;
    flex-grow: 2;
}
.body{
    width: 400px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-right: 20px;
    z-index:  '99999';
}
.pic{
    background: url('../../../../assets/Rectangle\ 12.png') no-repeat;
    background-size: contain;
    width: 120px;
}
.control{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-end;
}