.top-backlayer{
    position: fixed;
    padding: 20px 0 0 50px;
    top:0;
    left: 0;
    width: calc( 100vw - 50px);
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
