.top-backlayer{
    position: fixed;
    padding: 20px 0 0 50px;
    top:0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.clock{
    padding: 5px;
    display: flex;
    align-content: center;
    align-items: center;
}
.bookmark{
    padding: 8px;
    display: flex;
    align-content: center;
    align-items: center;
   
}
.search-block{
    display: flex;

}

.search-block >*{
    margin-right: 10px;
}

.select-block{
    
}

.select-block >*{
    margin-right: 10px;
}