.body{
    height: calc(100vh - 144px) ;
    width: calc(100vw - 48px);
    background-color: rgba(255, 0, 0, 0);
   
    padding:120px 24px 24px 24px;
    z-index: 9999;
    position: absolute;
}
.plate{
    margin:0;
    box-sizing: border-box;
    height: 100%;
    width: 100% ;
}
.data{
    display: flex;
    width: 100%;
    height: 100%;
    gap:24px;
}

.pic-container{
    flex-basis: 45%;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

.pic{
    background-image: url('../../../assets/Rectangle\ 12.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center ;
    height: calc(100vh - 190px);
    width: 100%;
}
.loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:48px;
}
.stats{
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}
.stats > div{
    flex-basis: 30%;
}
.top{
    width: 100%;
    padding-left: 24px;
}
.favor{
    position: absolute;
    right: 38px;
    top: 131px;
}