.district{
    transition: 0.2s ease-in;
    fill:#BCBCBC;
}

.district:hover{
    transition: 0.2s ease-in;
    filter: brightness(80%);
    cursor: pointer;
}

.selected{
    transition: 0.2s ease-in;
    fill:#7432FF;
}