.data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 120px;
    gap:10px;
    flex-grow: 2;
}
.body{
    width: 400px;
    display: flex;
    justify-content: space-between;
    gap:10px;
    cursor:pointer;
}
.pic{
    background: url('../../../assets/Rectangle\ 12.png') no-repeat;
    background-size: contain;
    border-radius: 5px;
    width: 120px;
}
.control{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-end;
}