.body{
    display: flex;
    flex-direction: column;
    
}
.sub-title{
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.title{
    font-size: small;
    color:rgb(114, 112, 112);
    font-family: 'Montserrat','Roboto', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    line-height: 10px;
    margin-bottom: 5px;
    line-height: normal;
}
.big-title{
    font-size: 1.2vw;
}