.body{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: small;
    color:black;
    text-align: center;
    font-family: 'Montserrat','Roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: center;
}