.body{
    display: flex;
    flex-direction: column;
}
.sub-title{
    flex-direction: column-reverse;
}
.title{
    font-size: small;
    color:black;
    font-family: 'Montserrat','Roboto', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 10px;
}
.big-title{
    font-size: 1rem;
}