.map{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
  
}
.building_popup{
    width: 400px;
}
.popup-body{
    width: 1400px;
    display: flex;
    gap:10px;
  
}

.popup-column{
    display: flex;
    flex-direction: column;
    gap:25px;
}